body {
    background-color: #D6D6D6;
    padding: 85px 15px 15px 15px;
    margin: 0;
}
ul {
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0;
    margin-bottom: 50px;
}
li {
    margin-top: 10px;
}
img {
    cursor: pointer;
}